@model IEnumerable<ClassLibraryAirline.Model.AirlineModel>

@{
    ViewData["Title"] = "ViewIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewIndex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AirlineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirlinesFromCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirlinesToCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirlinesFare)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AirlineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirlinesFromCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirlinesToCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirlinesFare)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
